@import "tailwindcss";

body {
  font-family: var(--font-rubik), sans-serif;
}

/* Apply Questrial specifically to paragraphs and list items */
p,
li {
  font-family: var(--font-questrial), sans-serif;
}
.font-questrial {
  font-family: var(--font-questrial), sans-serif;
}
